[submodule "evmlib/lib/forge-std"]
	path = evmlib/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "evmlib/lib/openzeppelin-contracts"]
	path = evmlib/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
